<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PET SHOP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
<header class="header">
    <a href="#" class="logo"><i class="fas fa-cat"></i> Pet Shop </a>
    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#shop">shop</a>
        <a href="#services">services</a>
        <a href="#plan">plan</a>
        <a href="#contact">contact</a>
    </nav>
    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <a href="#" class="fas fa-shopping-cart"></a>
        <div class="fas fa-user" id="login-btn"></div>
    </div>

    <form action="" class="login-form">
        <h3>Sign in</h3>
        <input type="Email" name="" placeholder="Enter your email" id="" class="box">
        <input type="Password" name="" placeholder="Enter your password" id="" class="box">
        <div class="remember">
            <input type="checkbox" name="" id="remember-me">
            <label for="remember-me">Remember me</label>
        </div>
        <input type="submit" value="sign in" class="btn">
        <div class="links">
            <a href="#">Forget password</a>
            <a href="#">Sign up</a>
        </div>
    </form>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3> <span>Hi</span> Welcome to Jatin's pet shop </h3>
        <a href="#" class="btn">Shop now</a>
    </div>

    <img src="static/image/bottom_wave.png" class="wave" alt="">

</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <div class="image">
        <img src="static/image/dos.jpg" alt="">
    </div>

    <div class="content">
        <h3>Our <span>Misson</span> ......</h3>
        <p>All the Funds we earns by selling products goes for development and treatment of stray Dogs and our mission to ensure that every stray should get loving home..</p>
        <a href="#" class="btn">read more</a>
    </div>

</section>

<!-- about section ends -->

<!-- dog and cat food banner section starts -->

<div class="dog-food">

    <div class="image">
        <img src="static/image/dog_food.png" alt="">
    </div>

    <div class="content">
        <h3> <span>air dried</span> dog food </h3>
        <p>We provides best dog food in pet industries...... our dog food provides all nutritions and protein which is required for overall growth or for development of dogs.</p>
        <p>Our Dog food is suitable for all types of breeds.</p>
        <div class="amount">₹ 150 - ₹ 3000</div>
        <a href="#"> <img src="static/image/shop_now_dog.png" alt=""> </a>
    </div>

</div>

<div class="cat-food">

    <div class="content">
        <h3> <span>air dried</span> cat food </h3>
        <p>We provides best Cat food in pet industries...... our Cat food provides all nutritions and protein which is required for overall growth or for development of Cats and also it keep their Fur growth healthy.</p>
        <p>Our cat food is suitable for all types of Cat breeds.</p>
        <div class="amount">₹ 500 - ₹ 2000</div>
        <a href="#"> <img src="static/image/shop_now_cat.png" alt=""> </a>
    </div>

    <div class="image">
        <img src="static/image/cat_food.png" alt="">
    </div>

</div>

<!-- dog and cat food banner section ends -->

<!-- shop section starts  -->

<section class="shop" id="shop">

    <h1 class="heading"> PET <span> FOODS </span> AND ACCESSORIES</h1>

    <div class="box-container">

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="static/image/pedi.jpg" alt="">
            </div>
            <div class="content">
                <h3>Pedigree Chicken & Vegetables Adult Dog Dry Food</h3>
                <div class="amount"> ₹2,560 </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="static/image/dent.jpg" alt="">
            </div>
            <div class="content">
                <h3>Pedigree Dentastix Oral Care for Adult (Medium Breed 10 to 25 kg) Dog Treats</h3>
                <div class="amount">₹600 </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="static/image/dr.jpeg" alt="">
            </div>
            <div class="content">
                <h3>Droll's Cat Food</h3>
                <div class="amount"> ₹1,200 </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="static/image/catt.jpeg" alt="">
            </div>
            <div class="content">
                <h3>Purepet Ocean Fish Adult Cat Dry Food</h3>
                <div class="amount">₹1,100 </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="static/image/Drool.jpeg" alt="">
            </div>
            <div class="content">
                <h3>Drool's Premimum Fish food</h3>
                <div class="amount"> ₹300 </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="static/image/fishh.jpg" alt="">
            </div>
            <div class="content">
                <h3>Tetra Pond Variety Sticks Fish Food, Mix of Three Different Food for All Pond Fish, 10 Litre</h3>
                <div class="amount">₹800 </div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="static/image/doggy.jpeg" alt="">
            </div>
            <div class="content">
                <h3>Poochles "Cuddle Me Up" Stuffable Dog Bed</h3>
                <div class="amount"> ₹3,200 </div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="static/image/pup.jpg" alt="">
            </div>
            <div class="content">
                <h3>Cozy Cave Dog Bed</h3>
                <div class="amount"> ₹4,200 </div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="static/image/po.jpg" alt="">
            </div>
            <div class="content">
                <h3>PoochMate Dog Bed (Suitable for all Dog breeds)</h3>
                <div class="amount"> ₹8,200 </div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="static/image/catty.jpg" alt="">
            </div>
            <div class="content">
                <h3>Scizor Cat Pad Sweet Cat Bed Warm Pet Basket Cozy Kitten bed</h3>
                <div class="amount"> ₹1,600 </div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="static/image/bedd.jpeg" alt="">
            </div>
            <div class="content">
                <h3>Meow Cat Bed (Suitable for all cat breeds)</h3>
                <div class="amount"> ₹3,200 </div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="static/image/play.jpeg" alt="">
            </div>
            <div class="content">
                <h3>Wooden Pet House,suitable for puppies and cat </h3>
                <div class="amount"> ₹10,000 </div>
            </div>
        </div>
        <div class="box">
            <div class="icons">
            </div>
            <div class="image">
                <img src="static/image/toyss.jpg" alt="">
            </div>
            <div class="content">
                <div class="amount"> "SEE MORE" </div>
            </div>
        </div>


    </div>

</section>

<!-- shop section ends -->

<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-dog"></i>
            <h3>dog boarding</h3>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <i class="fas fa-cat"></i>
            <h3>cat boarding</h3>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <i class="fas fa-bath"></i>
            <h3>spa & grooming</h3>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <i class="fas fa-drumstick-bite"></i>
            <h3>healthy meal</h3>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <i class="fas fa-baseball-ball"></i>
            <h3>activity exercise</h3>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <i class="fas fa-heartbeat"></i>
            <h3>health care</h3>
            <a href="#" class="btn">read more</a>
        </div>

    </div>

</section>

<!-- services section ends -->

<!-- plan section starts  -->

<section class="plan" id="plan">
    <h1 class="heading"> Planning <span>Vacations ? Then</span> </h1>
    <h1 class="heading"> choose a <span>plan</span> </h1>
    <h1 class="heading"> which suits best for <span> Your fur babies</span> </h1>

    <div class="box-container">

        <div class="box">
            <h3 class="title">pet care</h3>
            <h3 class="day"> 1 day </h3>
            <i class="fas fa-bicycle icon"></i>
            <div class="list">
                <p> pet room <span class="fas fa-check"></span> </p>
                <p> pet grooming <span class="fas fa-check"></span> </p>
                <p> pet exercise <span class="fas fa-check"></span> </p>
                <p> pet meals <span class="fas fa-check"></span> </p>
            </div>
            <div class="amount"><span>₹</span>500</div>
            <a href="#" class="btn"> choose plan </a>
        </div>

        <div class="box">
            <h3 class="title">pet care</h3>
            <h3 class="day"> 10 days </h3>
            <i class="fas fa-motorcycle icon"></i>
            <div class="list">
                <p> pet room <span class="fas fa-check"></span> </p>
                <p> pet grooming <span class="fas fa-check"></span> </p>
                <p> pet exercise <span class="fas fa-check"></span> </p>
                <p> pet meals <span class="fas fa-check"></span> </p>
            </div>
            <div class="amount"><span>₹</span>3000</div>
            <a href="#" class="btn"> choose plan </a>
        </div>

        <div class="box">
            <h3 class="title">pet care</h3>
            <h3 class="day"> 30 days </h3>
            <i class="fas fa-car-side icon"></i>
            <div class="list">
                <p> pet room <span class="fas fa-check"></span> </p>
                <p> pet grooming <span class="fas fa-check"></span> </p>
                <p> pet exercise <span class="fas fa-check"></span> </p>
                <p> pet meals <span class="fas fa-check"></span> </p>
            </div>
            <div class="amount"><span>₹</span>8000</div>
            <a href="#" class="btn"> choose plan </a>
        </div>

    </div>

</section>

<!-- plan section ends -->

<section class="contact" id="contact">

    <div class="image">
        <img src="static/image/hello.jpg" alt="">
    </div>

    <form action="">
        <h3>contact us</h3>
        <input type="Text" placeholder="Your name" class="box">
        <input type="Email" placeholder="Your email" class="box">
        <input type="Tumber" placeholder="Your number" class="box">
        <textarea name="" placeholder="Your message" id="" cols="30" rows="10"></textarea>
        <input type="Submit" value="Send message" class="btn">
    </form>

</section>

<section class="footer">

    <img src="static/image/top_wave.png" alt="">

    <div class="share">
        <a href="#" class="btn"> <i class="fab fa-facebook-f"></i> facebook </a>
        <a href="#" class="btn"> <i class="fab fa-twitter"></i> twitter </a>
        <a href="#" class="btn"> <i class="fab fa-instagram"></i> instagram </a>
        <a href="#" class="btn"> <i class="fab fa-linkedin"></i> linkedin </a>
        <a href="#" class="btn"> <i class="fab fa-pinterest"></i> pinterest </a>
    </div>

    <div class="credit"> created by <span> Jatin Vishwakarma </span> | all rights reserved! </div>
</section>


<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>