.app-container {
  display: flex;
  height: 100vh;
  background-color: #f4f7fc;
  font-family: "Segoe UI", sans-serif;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
